* {
    box-sizing: border-box;
  }
  
  
  
  body {
    background:  rgb(140, 143, 119);
    margin: 0;
    padding: 30px 0 ;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
  }

  .mtb {
    background-image: url(https://picsum.photos/id/1023/2955/2094);
    background-size: cover;
    background-position: center;
  } 

  .countdown {
    background-color:  rgb(229, 233, 194);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(229, 233, 194);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: auto;
    text-align: center;
  }

  .btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
  }

  .btn {
  
     background-color: rgb(229, 233, 194);
     border-radius: 5px;
     padding: 5px 10px;
     color: black;
     outline: none; 
  }

  .btn:hover {
    border-color: black;
    color: white;
    background-color: cornflowerblue;
  }

.start-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20 px;
}

.controls {
  display: block;
  margin: auto;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: hidden;
}

.score-submit{
  display: flex;
  justify-content: center;
  align-items: center;

}
 

  